
// components/organisms/footer.php
.footer.bg13181b
        .footer__left
            .footer-img-container
                .footer__image
                    img(src='./images/sas.png', alt='')
                .footer__image
                    img(src='./images/aa.jpg', alt='')
                .footer__image
                    img(src='./images/ca.png', alt='')
                .footer__image
                    img(src='./images/sa.jpg', alt='')
                .footer__image
                    img(src='./images/ariana.jpg', alt='')
                .footer__image
                    img(src='./images/tarom.jpg', alt='')
            div.footer__left__text
                p.cffffff Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                
        .form
            input.footer_input(type='text', placeholder='Username')
            input.footer_input(type='text', placeholder='Password')
            button.footer-form__button(type='button')  Log in