<!-- components/organisms/header.php -->

.header
        .navigation.bg3267d6
            .bgffffff
                h2.c3267d6 DESTINATION [ ? ]
                .nav__icon(onclick='openNav()')
                    i.fa.fa-bars(aria-hidden='true')
        .dropdown
            .nav__item.bg3267d6
                i.fa.fa-home(aria-hidden='true')
                p.cffffff Home
            .nav__item.bg3267d6
                i.fa.fa-plane(aria-hidden='true')
                p.cffffff Airlines
            .nav__item.bg3267d6
                i.fa.fa-info(aria-hidden='true')
                p.cffffff Information
            .nav__item.bg3267d6
                i.fa.fa-user(aria-hidden='true')
                p.cffffff Login
        
        .header_container
            .header-title_container
                .header-title_container__destination
                    p DESTINATION
                .header-title_container__unknown
                    p UNKNOWN
            .header-text
                p Where do you want to go?








script(src='./js/navigation.js')
