
// components/base/Background.php
.BGdisplayBoxContainer
    .BGdisplayBox
        .bg3c71e0.BGdisplayBox__item
        p Hex: #3c71e0
    .BGdisplayBox
        .bgffffff.BGdisplayBox__item
        p Hex: #ffffff
    .BGdisplayBox
        .bgf0f0f0.BGdisplayBox__item
        p Hex: #f0f0f0
    .BGdisplayBox
        .bg3267d6.BGdisplayBox__item
        p Hex: #3267d6
    .BGdisplayBox
        .bgf0f2f3.BGdisplayBox__item
        p Hex: #f0f2f3
    .BGdisplayBox
        .bgfafafa.BGdisplayBox__item
        p Hex: #fafafa
    .BGdisplayBox
        .bg13181b.BGdisplayBox__item
        p Hex: #13181b
    .BGdisplayBox
        .bg3f81ff.BGdisplayBox__item
        p Hex: #3f81ff