<!-- components/base/Font.php -->
p Paragraph: 'Fira Sans', Sans-Serif, Normal, 18px
h1 Header 1: 'Fira Sans', Sans-Serif, Bold, 21px #585b63
h2 Header 2: 'Fira Sans', Sans-Serif, Bold, 28px #585b63
h3 Header 4: 'Fira Sans', Sans-Serif, Bold, 42px