<!-- components/base/Text-Colors.php -->
.BGdisplayBoxContainer
    .BGdisplayBox
        .c2e2d33.BGdisplayBox__item
        p Hex: #2e2d33
    .BGdisplayBox
        .cffffff.BGdisplayBox__item
        p Hex: #ffffff
    .BGdisplayBox
        .c605f65.BGdisplayBox__item
        p Hex: #605f65
    .BGdisplayBox
        .c4285f4.BGdisplayBox__item
        p Hex: #4285f4
    .BGdisplayBox
        .c000000.BGdisplayBox__item
        p Hex: #000000
    .BGdisplayBox
        .c585b63.BGdisplayBox__item
        p Hex: #585b63
    .BGdisplayBox
        .c3267d6.BGdisplayBox__item
        p Hex: #3267d6
    .BGdisplayBox
        .cf7f7f7.BGdisplayBox__item
        p Hex: #f7f7f7


