
.header
    .nav-container
        .navigation.bg3267d6
            .bgffffff
                h1.c3267d6 DESTINATION [ ? ]
            .nav__icon(onclick='openNav()')
                i.fa.fa-bars(aria-hidden='true')
        .dropdown
            .nav__item.bg3267d6
                i.fa.fa-home(aria-hidden='true')
                p.cffffff Home
            .nav__item.bg3267d6
                i.fa.fa-plane(aria-hidden='true')
                p.cffffff Airlines
            .nav__item.bg3267d6
                i.fa.fa-info(aria-hidden='true')
                p.cffffff Information
            .nav__item.bg3267d6
                i.fa.fa-user(aria-hidden='true')
                p.cffffff Login
    .header_container
        .header-title_container
            .header-title_container__destination
                p DESTINATION
            .header-title_container__unknown
                p UNKNOWN
        .header-text
            p Where do you want to go?
.main
    .flexcard
        .flexcard__image
            img(src='./images/airport.jpg', alt='')
        .flexcard__text.bgffffff
            h2 Airport
            p
    .flexcard
        .flexcardHeader.bg3399ff
            .flexcardHeader__logo
                img(src='./images/klm.gif', alt='')
            .flexcardHeader__name.cffffff
                h1 IVAN BOYKO
                h1 Oct 5, 2013
        div
            p KLM 39
            p Terminal 2
        .bordingpass-header
            h2 Economy
            img(src='./images/bar.gif', alt='')
        .flexcard__text.bgffffff
            h2 BORDING PASS
            p
    .flexcard
        .flexcard__image
            img(src='./images/onboard.jpg', alt='')
        .flexcard__text.bgffffff
            h2 Onboard
            p
    .flexcard
        .flexcard__image
            img(src='./images/cockpit.jpg', alt='')
        .flexcard__text.bgffffff
            h2 Cockpit
            p
.airbus
    .airbus__text
        h2 Airbuss
        p
    .airbus__text
        h2 Airbuss
        p
.footer.bg13181b
    .footer-img-container
        .footer__image
            img(src='./images/sas.png', alt='')
        .footer__image
            img(src='./images/aa.jpg', alt='')
        .footer__image
            img(src='./images/ca.png', alt='')
        .footer__image
            img(src='./images/sa.jpg', alt='')
        .footer__image
            img(src='./images/ariana.jpg', alt='')
        .footer__image
            img(src='./images/tarom.jpg', alt='')
    .footer__right
        p.cffffff
        .form
            input.footer_input(type='text', placeholder='Username')
            input.footer_input(type='text', placeholder='Password')
            button.footer-form__button(type='button')  Log in
script(src='./js/navigation.js')