<!-- components/atoms/Flexcard-header.php -->

.flexcardHeader.bg3399ff
    .flexcardHeader__logo
        img(src='./images/klm.gif', alt='')
    .flexcardHeader__name.cffffff
        h1 IVAN BOYKO
        h1 Oct 5, 2013 