<!-- components/atoms/Footer-image.php -->

.footer__image
    img(src='./images/sas.png', alt='')
.footer__image
    img(src='./images/aa.jpg', alt='')
.footer__image
    img(src='./images/ca.png', alt='')
.footer__image
    img(src='./images/sa.jpg', alt='')
.footer__image
    img(src='./images/ariana.jpg', alt='')
.footer__image
    img(src='./images/tarom.jpg', alt='')
