<!-- components/molecules/form.php -->


.form
    input.footer_input(type='text', placeholder='Username')
    input.footer_input(type='text', placeholder='Password')
    button.footer-form__button(type='button')  Log in