/* scss/base/_Font.scss */
@import 'https://fonts.googleapis.com/css?family=Fira+Sans:400,700';


p{
    font-size: 14px;
    padding: 0;
    margin: 0;
}
h1 {
    font-size: 21px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}h2 {
    font-size: 28px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}h3 {
    font-size: 42px;
    font-weight: 700;
    padding: 0;
    margin: 0; 
}

