/* scss/base/_Text-Colors.scss */
.c2e2d33 {
    color: #2e2d33;
}.cffffff {
    color: #ffffff;
}.c605f65 {
    color: #605f65;
}.c4285f4 {
    color: #4285f4;
}.c000000 {
    color: #000000;
}.c585b63 {
    color: #585b63;
}.c3267d6 {
    color: #3267d6;
}.cf7f7f7 {
    color: #f7f7f7;
}
